

.link{
    text-decoration: none;
    color: white;
    grid-column: 1 / 2;
}

.logo{
    width: 20vh;
    height: auto;
    
}
.logo{
    animation: slideIn 5s infinite
}
@keyframes slideIn {
    0% {transform: translateX(0%)}    
    50% {transform: translateX(100%)}
   100% {transform: translateX(0%)}
}
.lista-carrito{
    font-size: 12px;
    width: 280px;  
    
}
.contiene-cartwidget{
    grid-column: 9 / 12;
    display: flex;
    justify-content: space-between;
   
}
.contiene-subtotales{
    display: block;    
    align-items: center;
    text-align: center;
    padding: 0%;
    
    
}
.subtotales{
    display: block;
    text-decoration: none;
    font-size: 12px;
    text-align: left;
    margin-block-start: auto;
    margin-block-end: auto;
}
.subtotales-mobile{
  display:none;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .carrito{
    width: 50%;
    height: 50%;
      
    
  }
  .contiene-carrito{
    display: flex;
    justify-content: center;
    color: white;
        
  }
  
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;  
    color: white;
  }
  
  .navbar {
    background-color: #333;
    overflow: hidden;
  }
  
  .nav-list {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  .ul{
    grid-column: 3 / 9;
  } 
  
  .nav-list li {
    float: left;
  }
  
  .nav-list li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 20px;
    text-decoration: none;
  }
  
  
  .nav-list li a:hover {
    background-color: #ddd;
    color: #333;
    font-size: 1.5em;
    font-style:oblique;
    text-shadow: 2px 2px 4px #333;
    
      
  }
  
  .dropdown {
    display: inline-block;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 45px;
    text-decoration: none;
  }
  .rubro{
    align-items: center;
  }
  
  
  .rubro:hover {
    color: #333;
    text-shadow: 1px 1px 2px white;
    scale: 1.3;
  }
    
  
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;    
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;  
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .lista-carrito{
    display: inline-block;
    text-align: left;
  }
  
  .item-carrito{
    display: inline-block;
    
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #fff;
    color:  #333;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltip .tooltiptext {
    width: 120px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; 
  }
  .titulo-productos{
    display: none;
  }
  .menu-productos{
    display:none;
  }
  

  @media(max-width:412px){
    .logo{
      width: 8vh;
      height: auto;
    }
    .logo-menu{
      width: 3vh;
      height: auto;
    }
    .nav {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 100;
      background-color: #333;
      display: grid;
      grid-template-columns: repeat(11, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
    .menu-productos{
      display:block;
    }
    .nav-list {
      display: none;
      flex-direction: column;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    .nav-list-mobile {
      display: block;
      flex-direction: column;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    
    .ul{
      text-decoration: none;
      color: white;
      grid-column: 4 / 8;
      text-align: center;    
      
  }
  .link{
    text-decoration: none;
    color: white;
    grid-column: 2 / 2;
  }
  .contiene-cartwidget{
  grid-column: 8 / 11;
  display: flex;
  justify-content: space-between;
 
  }
  .carrito{
  width: 50%;
  height: 50%;
  }
  .lista-carrito{
    display: none;
  }
  .subtotales{
    display:none;
  }
  .subtotales-mobile{
    display:block;
  }
  @keyframes slideIn {
    0% {transform: translateX(0%)}    
}

.dropdown {
    display: inline-block;
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}
.dropdown-content a {
  color: black;
  padding: 2px 4px;
  text-decoration: none;
}
.nav-list li {
  float: left;
}

.nav-list li a{
  display: block;
  color: white;
  text-align: center;
  padding: 5 px 8 px;
  text-decoration: none;
}
.nav-list li a:hover {
  background-color: #333;
  color: white;  
  font-size: 1.2em;  
  font-style:oblique;
  text-shadow: 2px 2px 4px #333;
}
.rubro{
  align-items: center;
}
.rubro:hover {
  color: #333;
  text-shadow: 1px 1px 2px white;
  scale: 1;
  
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;    
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;  
}

.dropdown-content a {
  color: black;
  padding: 2px 4px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
} 
  





  
 